watch_file pixi.lock 
eval "$(pixi shell-hook)"
export MKLROOT=$CONDA_PEFIX
export LD_LIBRARY_PATH=$CONDA_PEFIX/lib
export MKL_INCLUDE_DIR=$CONDA_PEFIX/include
export VIRTUAL_ENV="$CONDA_PEFIX"
export no_proxy="pypi.org,files.pythonhosted.org,github.com,api.github.com"  # to avoid SOCKS issue on python3.14


