watch_file uv.lock
source ./.venv/bin/activate
export no_proxy="pypi.org,files.pythonhosted.org,github.com,api.github.com"  # to avoid SOCKS issue on python3.14
export MCKIT_PROJECT_VERSION="$(uv version --short)"

if [[ "$(uname -n)" == "dvp-IdeaPad-Pro-5-16IRH8" ]]; then
    export CC=/usr/local/bin/gcc
    export CXX=/usr/local/bin/g++
fi
