watch_file pixi.lock 
eval "$(pixi shell-hook)"
export LD_LIBRARY_PATH=$CONDA_PREFIX/lib
export VIRTUAL_ENV="$CONDA_PREFIX"
export no_proxy="pypi.org,files.pythonhosted.org,github.com,api.github.com"  # to avoid SOCKS issue on python3.14


